$font-family-sans-serif: 'Ubuntu', Raleway, Roboto, Arial, sans-serif;
$violet: #5e6bab;

@import '~bootstrap';
@import 'form';
@import 'info_tooltip';
@import 'toggler';
@import 'salary_calculation';

body{
  color: $gray-800;
}